
body{
    background-color: black;
    color: white;
}


.claro{
    background-color:white;
    color: black;
}

input{
    background-color: black;
    color: white;
}

textarea{
    background-color: black;
    color: white;
}